---
import { getCollection } from 'astro:content';
const posts = await getCollection('technical');
---

<h1>Technical Blog</h1>
<ul>
  {posts.map(post => (
    <li><a href={`/technical/${post.slug}/`}>{post.data.title}</a> - {post.data.date}</li>
  ))}
</ul>
